[package]
name = "flowc"
description = "A compiler for 'flow' programs"
version.workspace = true
authors.workspace = true
license.workspace = true
documentation.workspace = true
homepage.workspace = true
repository.workspace = true
readme = "README.md"
edition.workspace = true

[badges]
maintenance = { status = "actively-developed" }

[lib]
name = "flowrclib"
path = "src/lib/lib.rs"

[features]
default = ["debugger"]
debugger = ["flowcore/debugger"] # feature to add output for the debugger

[dependencies]
flowcore = {path = "../flowcore", version = "0.117.0", features = ["context", "file_provider", "http_provider", "meta_provider"]}
clap = "~4"
env_logger = "0.10.0"
log = "0.4.19"
url = { version = "2.2", features = ["serde"] }
tempdir = "~0.3.5"
simpath = { version = "~2.5", features = ["urls"]}
wax = "0.5.0"
serde_json = "1.0"
error-chain = "0.12.2"
serde_derive = "~1.0.27"
serde = "~1.0.183"
colored = "2"
toml = { version = "0.7.6" }

[dev-dependencies]
flowcore = {path = "../flowcore", version = "0.117.0", features = ["context"]}
tempdir = "~0.3.5"
simpath = { version = "~2.5", features = ["urls"]}
serial_test = "2.0.0"
