flow = "matrix_mult"

[[process]]
alias = "select_0"
source = "lib://flowstdlib/control/index_f"
input.select_index = { always = 0 }

[[connection]]
from = "readline/json"
to = "select_0/value"

[[process]]
alias = "select_1"
source = "lib://flowstdlib/control/index_f"
input.select_index = { always = 1 }

[[connection]]
from = "readline/json"
to = "select_1/value"

[[process]]
alias = "multiply"
source = "multiply"

[[connection]]
from = "select_0/selected_value"
to = "multiply/a"

[[connection]]
from = "select_1/selected_value"
to = "multiply/b"

[[connection]]
from = "multiply/product"
to = "flowruntime/stdio/stdout"