# These are copied from elsewhere and are not part of the source authored in this folder
samples
flowstdlib
flowr
flowrlib
flowc
flowclib
/runtime/
/provider/
/nodeprovider/
/ide-native/
/ide/
/flow_impl/
/flow_impl_derive/
/README.md
