[package]
name = "flowr"
version = "0.8.1"
authors = ["Andrew Mackenzie <andrew@mackenzie-serres.net>"]
description = "A runner for compiled 'flow' programs"
license = "MIT"
documentation = "https://github.com/andrewdavidmackenzie/flow/README.md"
homepage = "http://andrewdavidmackenzie.github.io/flow/"
repository = "https://github.com/andrewdavidmackenzie/flow/"
readme = "README.md"

[[bin]]
name = "flowr"
path = "src/main.rs"

[features]
default = ["debugger"]
debugger = []

[dependencies]
clap = "~2"
flow_impl = "~0.8.2"
flowrlib = "~0.8.1"
provider = "~0.8.1"
simplog = "~1.2"
log = "0.4.6"
url = "~1.6.0"
serde_derive = "~1.0.27"
serde = "~1.0.27"
serde_json = "1.0"
num_cpus = "~1.10"
error-chain = "0.12.1"