[package]
name = "flowr"
version = "0.61.0"
authors = ["Andrew Mackenzie <andrew@mackenzie-serres.net>"]
description = "A runner for compiled 'flow' programs"
license = "MIT"
documentation = "https://github.com/andrewdavidmackenzie/flow/README.md"
homepage = "https://andrewdavidmackenzie.github.io/flow/"
repository = "https://github.com/andrewdavidmackenzie/flow/"
readme = "README.md"
edition = "2021"

[badges]
maintenance = { status = "actively-developed" }

[[bin]]
name = "flowr"
path = "src/main.rs"

[features]
default = ["context", "debugger", "flowstdlib", "metrics"]
context = ["flowcore/context"] # Make sure flowcore is compiled with "context" feature if we plan to use it
debugger = ["flowrlib/debugger", "flowcore/debugger", "rustyline"] # feature to add the debugger, requires flowrlib and flowcore crate to have feature enabled also
metrics = ["flowrlib/metrics"]  # feature for tracking of metrics during execution - requires flowrlib with metrics also

[dependencies]
flowcore = {path = "../flowcore", version = "0.60.0"}
flowrlib = {path = "../flowrlib", version = "0.61.0"}
clap = "~2"
simplog = { version = "~1.5" }
log = "0.4.6"
simpath = { version = "~2.3", features = ["urls"]}
url = { version = "2.2", features = ["serde"] }
serde_derive = "~1.0.27"
serde = "~1.0.27"
serde_json = { version = "1.0", default-features = false }
error-chain = "0.12.2"
image = "=0.23.10"
multimap = "~0.8"
ctrlc = "3.1.9"
portpicker = "0.1.1"
simpdiscover = "~0.3"
zmq = "0.9.2"

# Optional dependencies
flowstdlib = {path = "../flowstdlib", version = "0.60.0", optional = true }
rustyline = {version = "9.0.0", optional = true }
anyhow = { version = "1.0", optional = true}

[dev-dependencies]
tempdir = "~0.3.5"
serial_test = "0.5.0"
