[package]
name = "flowr"
description = "A runner for compiled 'flow' programs"
version.workspace = true
authors.workspace = true
license.workspace = true
documentation.workspace = true
homepage.workspace = true
repository = "https://github.com/andrewdavidmackenzie/flow/"
readme.workspace = true
edition.workspace = true

[badges]
maintenance = { status = "actively-developed" }

[[bin]]
name = "flowr"
path = "src/main.rs"

[features]
default = ["debugger", "metrics"]
# Make sure flowcore and flowrlib are compiled with "context" feature if we plan to use it
debugger = ["flowrlib/debugger", "flowcore/debugger", "rustyline"] # feature to add the debugger, requires flowrlib and flowcore crate to have feature enabled also
metrics = ["flowrlib/metrics"]  # feature for tracking of metrics during execution - requires flowrlib with metrics also

[dependencies]
flowcore = {path = "../flowcore", version = "0.90", features = ["context"] }
flowrlib = {path = "../flowrlib", version = "0.90", features = ["context", "submission"] }
flowstdlib = {path = "../flowstdlib", version = "0.90" }
clap = "~4"
simplog = { version = "~1.5" }
log = "0.4.6"
simpath = { version = "~2.3", features = ["urls"]}
url = { version = "2.2", features = ["serde"] }
serde_derive = "~1.0.27"
serde = "~1.0.147"
serde_json = { version = "1.0", default-features = false }
error-chain = "0.12.2"
multimap = "~0.8"
portpicker = "0.1.1"
zmq = "0.10.0"
ctrlc = {version = "3.2.3"}
image = {version = "=0.24.5"}

# Optional dependencies
rustyline = {version = "10.0.0", optional = true }

[dev-dependencies]
tempdir = "~0.3.5"
serial_test = "0.9.0"
