[package]
name = "flowrlib"
version = "0.8.8"
authors = ["Andrew Mackenzie <andrew@mackenzie-serres.net>"]
license = "MIT"
description = "The run-time library for executing 'flow' programs compiled with the 'flowc' compiler"
readme = "README.md"
documentation = "https://github.com/andrewdavidmackenzie/flow/README.md"
homepage = "http://andrewdavidmackenzie.github.io/flow/"
repository = "https://github.com/andrewdavidmackenzie/flow/"
edition = "2018"

[lib]
name = "flowrlib"
path = "src/lib.rs"

test = true
doctest = true
bench = true
doc = true

[features]
default = ["debugger", "metrics", "logging", "checks"]
metrics = [] # Include tracking of metrics during flow execution
debugger = [] # Include the debugger
logging = [] # Enable log output during flow execution
checks = [] # Extra checks are performed during flow execution

[dependencies]
flow_impl = "=0.8.9"

multimap = "~0.8"
log = "0.4.6"
serde_derive = "~1.0.27"
serde = "~1.0.27"
serde_json = "1.0"
error-chain = "0.12.1"
# A std::Instant compatible crate that also supports wasm
instant = { version = "0.1", features = [ "now", "wasm-bindgen" ] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
wasmi = "0.4.5"