flow = "sequence"

# The number the sequence should start at
[[input]]
name = "start"
type = "Number"

# 'end' is the maximum or limit of the sequence - the last we will generate
[[input]]
name = "end"
type = "Number"

# 'step' is the amount to add each time
[[input]]
name = "step"
type = "Number"

# The sequence of numbers we will generate
[[output]]
name = "sequence"
type = "Number"

# A value is output when the sequence has ended
[[output]]
name = "last"
type = "Number"

# For the first time around, pass the start number of the sequence into the "compare" process
[[connection]]
from = "input/start"
to = "compare/right"

# Put the limit of the sequence from the "end" input into the limit store
[[connection]]
from = "input/end"
to = "compare/left"

# "pass if less than or equal" process that will pass all numbers that are less than the limit
[[process]]
alias = "compare"
source = "lib://flowstdlib/control/compare_switch"

# An add process to add one to the last outout of the sequence each time
[[process]]
alias = "add"
source = "lib://flowstdlib/math/add"

[[connection]]
from = "input/step"
to = "add/i2"

# loop back the 'step' value to use in each iteration
[[connection]]
from = "add/i2"
to = "add/i2"

# connect the /lt output of compare (i.e. numbers that are less than or equal to the limit) to the output of this process -
# the sequence of numbers being generated
[[connection]]
from = "compare/right-lte"
to = "output/sequence"

# while the sequence is running - feed the left value (limit) back around to compare against next time
[[connection]]
from = "compare/left-gt"
to = "compare/left"

# Take the last generated number of the sequence and pass it to the added to add one to it for the next number
# in the sequence (if less than the limit)
[[connection]]
from = "compare/right-lt"
to = "add/i1"

# After the first iteration, each time take the output of the adder (i.e. possibly the next number in the sequence)
# and pass it into the pilte flow to pass it thru if it's less than the limit
[[connection]]
from = "add/sum"
to = "compare/right"

# When the compare flow indicates that the number was blocked due to being too large (equal to the limit) then
# we want that to indicate that the sequence is done
[[connection]]
from = "compare/right-gte"
to = "output/last"