addons:
  apt:
    packages:
      - xvfb

install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - npm install -g electron-forge
  - npm install

language: node_js

node_js:
  - '8'

os:
  - osx

script: electron-forge make
