flow = "arrays"
version = "0.11.0"
authors = ["Andrew Mackenzie <andrew@mackenzie-serres.net>"]

[[process]]
alias = "sequence"
source = "lib://flowstdlib/math/sequence"
input.start = {once =  1}
input.end = {once =  20}
input.step = {once =  1}

[[connection]]
from = "sequence/sequence"
to = "accumulator/values"

[[process]]
alias = "accumulator"
source = "lib://flowstdlib/data/accumulate"
input.partial = {once =  []}
input.chunk_size = {always =  4}

[[connection]]
from = "accumulator/partial"
to = "accumulator/partial"

[[connection]]
from = "accumulator/chunk"
to = "add/i1"

[[process]]
alias = "add"
source = "lib://flowstdlib/math/add"
input.i2 = {always =  1}

[[connection]]
from = "add/sum"
to = "print"

[[process]]
alias = "print"
source = "lib://flowruntime/stdio/stdout"