name: Build and Deploy Docs

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: setup-paths
        run: |
          echo "FLOW_LIB_PATH=$GITHUB_WORKSPACE/target" >> "$GITHUB_ENV"
          echo "PATH=$HOME/.cargo/bin:$GITHUB_WORKSPACE/target/debug:$GITHUB_WORKSPACE/flowrex/target/debug:$PATH" >> "$GITHUB_ENV"

      - name: install-dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get -y install libzmq3-dev binaryen graphviz
          cargo install mdbook
          cargo install mdbook-linkcheck

      - name: add-wasm-tools
        run: |
          rustup target add wasm32-unknown-unknown
          cargo install wasm-gc wasm-snip

      - name: build-flowc
        run: |
          cargo build -p flowc
          which flowc

      - name: build-flowstdlib
        run: |
          cargo build -p flowstdlib --features "wasm"
          tree $GITHUB_WORKSPACE/target/flowstdlib

      - name: build-docs
        run: |
          mdbook build
          cargo doc --no-deps --target-dir=target/html/code
          make copy-svgs trim-docs

      - name: deploy-docs
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: target/html