name: Build and Deploy Docs

on:
  push:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  build:
    runs-on: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly

      - name: setup-paths
        run: |
          echo "FLOW_LIB_PATH=$HOME/.flow/lib" >> "$GITHUB_ENV"
          mkdir -p $HOME/.cargo/bin
          echo "PATH=$HOME/.cargo/bin:$GITHUB_WORKSPACE/target/debug:$PATH" >> "$GITHUB_ENV"

      - name: install-graphviz
        run: |
          sudo apt-get update -y
          sudo apt-get -y install graphviz

      - name: build-flowc
        run: cargo build -p flowc

      - name: AddWasmTarget
        run: rustup target add wasm32-unknown-unknown

      - name: build-flowstdlib
        run: |
          cargo build -p flowstdlib
          more $HOME/.flow/lib/flowstdlib/math/sequence.toml

      - name: install-mdbook
        run: curl -sSL https://github.com/rust-lang/mdBook/releases/download/v0.4.27/mdbook-v0.4.27-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=$HOME/.cargo/bin

      - name: install-mdbook-linkcheck
        run: |
          curl -sSL https://github.com/Michael-F-Bryan/mdbook-linkcheck/releases/download/v0.7.7/mdbook-linkcheck.x86_64-unknown-linux-gnu.zip > mdbook-linkcheck.zip
          unzip mdbook-linkcheck.zip -d $HOME/.cargo/bin
          chmod +x $HOME/.cargo/bin/mdbook-linkcheck

      - name: build-book
        run: mdbook build

      - name: build-docs
        run: cargo doc --no-deps --target-dir=target/html/code

      - name: copy-svgs
        run: make copy-svgs

      - name: trim-docs
        run: make trim-docs

      - name: deploy-docs
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: target/html