name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule: # Build every day at 5PM UTC
    - cron: '0 17 * * *'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
          os: [ macos-latest, ubuntu-latest ]
          rust: [ stable ]

    steps:
    - uses: actions/checkout@v2

    - name: Cargo Cache
      uses: actions/cache@v1
      with:
        path: ~/.cargo
        key: ${{ runner.os }}-cargo-${{ hashFiles('FlowCargo.toml') }}
        restore-keys: |
          ${{ runner.os }}-cargo-${{ hashFiles('Cargo.toml') }}
          ${{ runner.os }}-cargo-

    - name: Cargo Target Cache
      uses: actions/cache@v1
      with:
        path: target
        key: ${{ runner.os }}-cargo-target-${{ hashFiles('FlowCargo.toml') }}
        restore-keys: |
          ${{ runner.os }}-cargo-target-${{ hashFiles('Cargo.toml') }}
          ${{ runner.os }}-cargo-target

    - name: SetupFlowLibPath
      run: echo "FLOW_LIB_PATH=$GITHUB_WORKSPACE" >> "$GITHUB_ENV"

    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true
        components: clippy

    - name: DebugData
      run: rustc --version

    - name: InstallLinuxDependencies
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get -y install libzmq3-dev binaryen

    - name: InstallMacDependencies
      if: matrix.os == 'macos-latest'
      run: brew install zmq binaryen

    - name: AddWasmTarget
      run: rustup target add wasm32-unknown-unknown

    - name: InstallWasmTools
      run: cargo install wasm-gc wasm-snip

    - name: ConfigureCoverage
      if: matrix.os == 'ubuntu-latest'
      run: |
        echo RUSTC_BOOTSTRAP=1 >> "$GITHUB_ENV" # Enables -Z in stable
        cargo install grcov
        rustup component add llvm-tools-preview
        echo RUSTFLAGS="-C instrument-coverage" >> "$GITHUB_ENV"
        echo LLVM_PROFILE_FILE="flow-%p-%m.profraw" >> "$GITHUB_ENV"

    - name: install-flowc
      run: cargo install --path flowc

    - name: install-flowr
      run: cargo install --path flowr

    - name: clippy
      run: cargo clippy --tests -- -D warnings

    - name: build
      run: cargo build --features "wasm"

    - name: test
      run: cargo test --features "online_tests","wasm"

    - name: docs
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get -y install graphviz
        cargo install mdbook
        cargo install mdbook-linkcheck
        cargo doc --no-deps --target-dir=target/html/code
        mdbook build
        make trim-docs

    - name: UploadCoverage
      if: matrix.os == 'ubuntu-latest'
      run: |
        grcov . --binary-path target/debug/ -s . -t lcov --branch --ignore-not-existing --ignore "/*" -o lcov.info
        bash <(curl -s https://codecov.io/bash) -f lcov.info
        rm -f lcov.info

    - name: DeployDocsToGHPages
      uses: JamesIves/github-pages-deploy-action@4.1.4
      if: matrix.os == 'ubuntu-latest' && github.ref == 'refs/heads/master'
      with:
        branch: gh-pages
        folder: target/html